body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #76437c;
    color: white;
    padding: 10px;
    text-align: center;
}

h2{
    text-align: center;
    text-shadow: #522453;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.animated-section {
    background-color: #dec4df;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.animated-section:hover {
    transform: scale(1.02);
}

.narrow-container {
    max-width: 600px; /* Set the desired width */
    margin: 0 auto;   /* Center the container */
}

.about-image {
    width: 200px;
    height: 200px;
    margin: 10px 0;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

input, textarea {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background: #522453;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #218838;
}

footer {
    text-align: center;
    color: aliceblue;
    padding: 10px;
    background: #522453;
}
